.searchbar-container{
    background-color:whitesmoke;
    border-radius: 10px;
    height:2.5rem;
    width:100%;
    padding:0 15px;
    box-shadow:0px 0px 8px #dddddd;
    display: flex;
    align-items: center;
}
.searchbar-container input{
    background-color: transparent;
    border: none;
    margin-left:10px ;
    font-size:1.25rem;
    width:100%;
}
.searchbar-container input:focus{
    outline: none;
}
#search-icon{
    font-size: larger;
    color: royalblue;
}